<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>Reading Log</title>
  <%= favicon_link_tag(source='favicon.ico') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="summer-reading-app">
  <div class="container">
    <h1>Reading Log</h1>
    <h5><i>Log/Assign books for your readers</i></h5>
    <div class="col-md-6 col-md-offset-3">
      <div ng-include="'nav/_nav.html'"></div>
    </div>
      <p>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </p>
      <div ui-view class="ui-place-holder">
        <h2>Welcome to the </h2>
        <h2>Reading Log Application</h2>
        <p>
          Here you can add readers, assign them books and log what they've read!
        </p>
      </div>

  </div>
</body>
</html>
